.vs/appScreens.slnx/FileContentIndex/b22cec91-5f55-4dca-9d83-aead4719527a.vsidx
.vs/appScreens.slnx/v18/.wsuo
.vs/appScreens.slnx/v18/DocumentLayout.json
.vs/appScreens.slnx/v18/DocumentLayout.backup.json
/.vs/appScreens/copilot-chat
/.vs/appScreens/CopilotIndices
/.vs/appScreens/FileContentIndex
/.vs/appScreens/v18
/.vs
/appScreens/.vs
appScreens/appScreens.vbproj
